<!DOCTYPE html>
<html>
  <head>

  <!-- メディアクエリを読み込む -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- タブの色を変える -->
    <meta name="theme-color" content="teal">
    <!-- font awesome -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Londrina+Shadow">

    <title>twimark</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header>
      <div class="header-logo">
          <%= link_to("twimark", "/") %>
      </div>

<!--       <span class="fa fa-bars menu-icon"></span> -->



        <% if @current_user %>
      <ul class="header-menus">
          <li>
            <%= link_to(@current_user.name,"/users/#{@current_user.id}") %>
          </li>
          <li>
            <%= link_to("ブクマ一覧", "/posts/index") %>
          </li>
          <li>
            <%= link_to("新規ブクマ", "/posts/new") %>
          </li>
          <li>
            <%= link_to("ログアウト", "/logout",{method: :post}) %>
          </li>
        </ul>
        <% else %>
      <ul class="header-menus signup">
          <li>
            <%= link_to("新規登録", "/signup") %>
          </li>
          <li>
            <%= link_to("ログイン", "/login") %>
          </li>
        <% end %>
      </ul>
    </header>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    
    <%= yield %>

  </body>
</html>